body{
    margin: 0;
    padding: 0;
}

.Mask{
    border-radius: 50%;
    mask-image: url("/logo.png");
    mask-repeat: no-repeat;
    mask-position: center;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    display: flex;
}
.Banner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.BannerImg{
    width: 75vw;
}
.GamesHolder{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.Games{
    background-color: red;
    border-radius: 25px;
    width: 95vw;
    background-color: #212529;
    display: grid;
}
.GameTitle{
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.GameTitle h1{
    margin: 20px;
    padding: 10px;
    font-size: 4rem;
    color: white;
}
.GamesItem{
    background-color: #111215;
    border-radius: 15px;
    margin: 10px;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}